.certificate {
  padding: 2rem 1rem;
  flex: 1;
  text-align: center;
  width: 100%;
  background-color: black;
  color: #FFF;
}

.certificate li {
  list-style-type: none;
  max-width: 100%;
}

.certificate ul {
  margin-block-start: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-flow: wrap;
}

.certificate li img{
  max-width: 100%;
}

@media screen and (max-device-width: 480px){
  .certificate ul{
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
}